@font-face {
    font-family: FuturaCondensed;
    src: url("../fonts/futura/FuturaCondensedMedium.otf");
}

@font-face {
	font-family: AvenirRegular;
	src: url("../fonts/futura/AvenirNextLTPro-Regular.otf");
}

p, a, span {
	font-family: AvenirRegular;
}

h1, h5 {
	font-family: FuturaCondensed;
}

#foods {
	letter-spacing: 40px;
	font-size: 35px;
}

.intro-content {
	margin-top: 275px;
}

.intro-content .total-number-food {
	margin-top: 50px;
}

.intro-content .total-number-food p {
	font-size: 14px;
}

.intro-content .total-number-food h6 {
	font-size: 36px;
	font-family: FuturaCondensed;
}

.intro-content .label-number {
	text-transform: initial;
	margin-bottom: 10px;
}

.intro-content .number-food {
	font-weight: bolder;
	font-size: 32px;
}

.button.no-stroke{
	border: transparent;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.intro-content .no-stroke:hover, .intro-content .no-stroke:focus, .button.no-stroke:hover {
	border: transparent;
}

.intro-content .no-stroke::after {
	content: "";
}

.about-custom {
	min-height: 729px;
	padding-top: 150px;
}

.content-custom {
	max-width: 1000px;
}

.about-content .img-about {
	text-align: center;
}

.no-padding-section {
	padding: 0;
}

.padding-right {
	padding: 0 20px 0 0;
}

.map-section .map {
	height: 375px;
/*	background-color: #2b2a2a;*/
	padding: 0;
}

.row-custom {
	width: 100%;
	max-width: none;
	background-color: #2b2a2a;
}

.map-section .filter {
	font-size: 12px;
}

.under-map {
	padding: 0;
}

.legend {
	background-color: #393636;
	padding: 25px;
}

.span-legend {
	font-size: 9px;
	color: #fff;
}

#more-western {
	margin-left: 37px;
}

#even {
	margin-left: 44px;
}

#more-asian {
	margin-left: 55px;
}

.label-legend {
	font-size: 10px;
	text-align: center;
	color: #fff;
}

.label-legend p {
	position: relative;
	top: -16px;
}

.padding-rect {
	padding: 5px 0 0 0;
}

.legend-rect {
	width: 20.77px;
	height: 20.77px;
	float: left
}

#legend-1 {
	background-color: #85bf25;
}

#legend-2 {
	background-color: #9acf38;
}

#legend-3 {
	background-color: #b0e055;
}

#legend-4 {
	background-color: #c3ed73;
}

#legend-5 {
	background-color: #d8eeb0;
}

#legend-6 {
	background-color: #e7e7e7;
}

#legend-7 {
	background-color: #ffc5c0;
}

#legend-8 {
	background-color: #ff9c8b;
}

#legend-9 {
	background-color: #ff7762;
}

#legend-10 {
	background-color: #ff5343;
}

#legend-11 {
	background-color: #ff332a;
}

#legend-green-20 {
	margin-left: 12px;
}

#legend-green-15 {
	margin-left: 6px;
}

#legend-green-10 {
	margin-left: 8px;
}

#legend-green-5 {
	margin-left: 10px;
}

#legend-green-1 {
	margin-left: 12px;
}

#legend-red-1 {
	margin-left: 15px;
}

#legend-red-5 {
	margin-left: 14px;
}

#legend-red-10 {
	margin-left: 10px;
}

#legend-red-15 {
	margin-left: 8px;
}

#legend-red-20 {
	margin-left: 6px;
}

.filter h5, .label-legend p {
	margin-bottom: 0;
}

.title {
	text-align: center;	
	margin-bottom: 0px;
	color: #ff9900;
}

.map-title {
	text-align: center;	
	margin-bottom: 0px;
	color: white;
	font-size: 28px;
}

.map-title-about {
	font-size: 18px;
}

.title-map-page {
	background-color: #494646;
	padding: 16px 0 23px 0;
}

.filter-title {
	background-color: #e3e3e3;
	border: 1px solid #000;
	color: white;
}

.filter-border {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.filter h6, .filter form, .filter p {
	margin-bottom: 1rem;
}

.input-custom {
	margin-bottom: 0;
}

.cuisine-form {
	position: inherit;
}

.location-form li {
	display: inline-block;
	float: left;
	width: 50%;
}

.location-form label, .rating-form label, .cuisine-form label {
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 0;
	position: relative;
	bottom: 2px;
	left: 2px;
}

.rating-form > input {
	display: none;
}

.rating-form > label:after {
	font-size: 20px;
	display: inline-block;
	content: "\2605";
}
 
.rating-form > input:checked ~ label, .rating-form:not(:checked) > label:hover, .rating-form:not(:checked) > label:hover ~ label {
	color: #ffd700;
}

.rating-form > input:checked + label:hover, /* hover current star when changing rating */
.rating-form > input:checked ~ label:hover,
.rating-form > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-form > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.search-filter, .summary{
	margin-top: 10px;
}

.search-filter input[type="text"] {
	display: inline;
	height: 3.2rem;
	width: 292px;
	border: 1px solid #000;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.search-filter input[type="submit"] {
	display: inline;
	position: relative;
	background: url(../images/search.png) no-repeat;
	background-position: center;
	background-color: grey;
	padding: 11px 2rem;
	height: 32px;
	margin: 0;
	left: -3px;
	bottom: -1px;
	border: 1px solid #000;
}

.clearfix:after {
	clear: both;
}

.summary {
	border: 1px solid #000;
}

.col-twelve h5 {
	font-family: FuturaCondensed;
}

.col-twelve h1 {
	font-family: FuturaCondensed;
}

.col-six p .intro-position .label-number {
	font-family: AvenirRegular;
	margin-bottom: 10px;
}

.button .stroke .no-stroke .smoothscroll {
	margin-top: 20px;
}

.img-about {
	margin-top: 50px;
}

.home-content {
	margin-top: 275px;
}