@font-face {
    font-family: FuturaCondensed;
    src: url("../fonts/futura/FuturaCondensedMedium.otf");
}

@font-face {
	font-family: AvenirRegular;
	src: url("../fonts/futura/AvenirNextLTPro-Regular.otf");
}

p, a {
	font-family: AvenirRegular;
}

h1, h5 {
	font-family: FuturaCondensed;
}

#foods {
	letter-spacing: 40px;
	font-size: 35px;
}

.intro-content .total-number-food {
	margin-top: 50px;
}

.intro-content .total-number-food p {
	font-size: 14px;
}

.intro-content .total-number-food h6 {
	font-size: 36px;
	font-family: FuturaCondensed;
}

.intro-content .label-number {
	text-transform: initial;
	margin-bottom: 10px;
}

.intro-content .number-food {
	font-weight: bolder;
	font-size: 32px;
}

.button.no-stroke{
	border: transparent;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.intro-content .no-stroke:hover, .intro-content .no-stroke:focus, .button.no-stroke:hover {
	border: transparent;
}

.intro-content .no-stroke::after {
	content: "";
}

.about-custom {
	min-height: 729px;
	padding-top: 150px;
}

.content-custom {
	max-width: 1000px;
}

.about-content .img-about {
	text-align: center;
}

.no-padding-section {
	padding: 0;
}

.map-section .map {
	height: 585px;
	background-color: grey;
	padding: 0;
}

.row-custom {
	width: 100%;
	max-width: none;
}

.row-custom h2 {
	margin: 1.1rem 0;
}

.map-section .filter {
	font-size: 12px;
}

.under-map {
	padding: 0;
}

.legend {
	padding: 0 10px 0 0;
}

.legend-border {
	border: 1px solid #000;
	padding: 10px;
}

.filter h5 {
	margin-bottom: 0;
}

.title {
	text-align: center;	
}

.filter-title {
	background-color: #e3e3e3;
	border: 1px solid #000;
}

.filter-border {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.filter h6, .filter form, .filter p {
	margin-bottom: 1rem;
}

.input-custom {
	margin-bottom: 0;
}

.cuisine-form {
	position: inherit;
}

.location-form li {
	display: inline-block;
	float: left;
	width: 50%;
}

.location-form label, .rating-form label, .cuisine-form label {
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 0;
	position: relative;
	bottom: 2px;
	left: 2px;
}

.rating-form > input {
	display: none;
}

.rating-form > label:after {
	font-size: 20px;
	display: inline-block;
	content: "\2605";
}
 
.rating-form > input:checked ~ label, .rating-form:not(:checked) > label:hover, .rating-form:not(:checked) > label:hover ~ label {
	color: #ffd700;
}

.rating-form > input:checked + label:hover, /* hover current star when changing rating */
.rating-form > input:checked ~ label:hover,
.rating-form > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-form > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.search-filter, .summary{
	margin-top: 10px;
}

.search-filter input[type="text"] {
	display: inline;
	height: 3.2rem;
	width: 292px;
	border: 1px solid #000;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.search-filter input[type="submit"] {
	display: inline;
	position: relative;
	background: url(../images/search.png) no-repeat;
	background-position: center;
	background-color: grey;
	padding: 11px 2rem;
	height: 32px;
	margin: 0;
	left: -3px;
	bottom: -1px;
	border: 1px solid #000;
}

.clearfix:after {
	clear: both;
}

.summary {
	border: 1px solid #000;
}

.legend-rect {
	display: inline-block;
}

#legend-green {
	width: 12px;
	height: 12px;
	background-color: green;
}

#legend-red {
	width: 12px;
	height: 12px;
	background-color: red;
	margin-left: 10px;
}
.col-twelve {
	margin-top: 275px;
}

.col-twelve h5 {
	font-family: FuturaCondensed;
}

.col-twelve h1 {
	font-family: FuturaCondensed;
}

.col-six p .intro-position .label-number {
	font-family: AvenirRegular;
	margin-bottom: 10px;
}

.button .stroke .no-stroke .smoothscroll {
	margin-top: 20px;
}

.img-about {
	margin-top: 50px;
}