@font-face {
    font-family: FuturaCondensed;
    src: url("../fonts/futura/FuturaCondensedMedium.otf");
}

@font-face {
	font-family: AvenirRegular;
	src: url("../fonts/futura/AvenirNextLTPro-Regular.otf");
}

p, a, span, label {
	font-family: AvenirRegular;
}

h1, h2, h3, h4, h5, h6 {
	font-family: FuturaCondensed;
}

#foods {
	letter-spacing: 40px;
	font-size: 35px;
}

.intro-content {
	margin-top: 275px;
}

.intro-content .total-number-food {
	margin-top: 50px;
}

.intro-content .total-number-food p {
	font-size: 14px;
}

.intro-content .total-number-food h6 {
	font-size: 36px;
	font-family: FuturaCondensed;
}

.intro-content .label-number {
	text-transform: initial;
	margin-bottom: 10px;
}

.intro-content .number-food {
	font-weight: bolder;
	font-size: 32px;
}

.button.no-stroke{
	border: transparent;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.intro-content .no-stroke:hover, .intro-content .no-stroke:focus, .button.no-stroke:hover {
	border: transparent;
}

.intro-content .no-stroke::after {
	content: "";
}

.about-custom {
	min-height: 729px;
	padding-top: 150px;
}

.about-custom p {
	line-height: 20px;
}

.content-custom {
	max-width: 1000px;
}

.about-content .img-about {
	text-align: center;
}

.no-padding-section {
	padding: 0;
}

.padding-right {
	padding: 0 20px 0 0;
}

 #map {
	height: 520px;
	width: 100%;
/*	background-color: #2b2a2a;*/
	padding: 0;
}

.row-custom {
	width: 100%;
	max-width: none;
	background-color: #2b2a2a;
}

.map-section .filter {
	font-size: 12px;
	color: #fff;
}

.under-map {
	padding: 0;
}

.legend {
	background-color: #393636;
	padding: 52px 25px 0 25px;
	width: 250px;
	float: left;
	height: 118px;
}

.span-legend {
	font-size: 9px;
	color: #fff;
}

#more-western {
	margin-left: 34px;
}

#even {
	margin-left: 44px;
}

#more-asian {
	margin-left: 41px;
}

.label-legend {
	font-size: 10px;
	text-align: center;
	color: #fff;
}

.label-legend img, .label-legend p {
	float: left;
	margin-left: 8px;
	position: relative;
	top: 2px;
}

/*#label-legend-asian {
	margin-left: 20px;
}*/

.padding-rect {
	padding: 5px 0 0 0;
}

.legend-rect {
	width: 19.48px;
	height: 19.48px;
	float: left
}

#legend-1 {
	background-color: #85bf25;
}

#legend-2 {
	background-color: #9acf38;
}

#legend-3 {
	background-color: #b0e055;
}

#legend-4 {
	background-color: #c3ed73;
}

#legend-5 {
	background-color: #d8eeb0;
}

#legend-6 {
	background-color: #e7e7e7;
}

#legend-7 {
	background-color: #ffc5c0;
}

#legend-8 {
	background-color: #ff9c8b;
}

#legend-9 {
	background-color: #ff7762;
}

#legend-10 {
	background-color: #ff5343;
}

#legend-11 {
	background-color: #ff332a;
	margin-left: 20px;
}

#legend-green-20 {
	margin-left: 11px;
}

#legend-green-15 {
	margin-left: 5px;
}

#legend-green-10 {
	margin-left: 6px;
}

#legend-green-5 {
	margin-left: 9px;
}

#legend-green-1 {
	margin-left: 11px;
}

#legend-red-1 {
	margin-left: 13px;
}

#legend-red-5 {
	margin-left: 12px;
}

#legend-red-10 {
	margin-left: 10px;
}

#legend-red-15 {
	margin-left: 8px;
}

#legend-red-20 {
	margin-left: 5px;
}

.legend-label h3 {
	margin-top: 17px;
}

.price-filter, .summary {
	background-color: #393636;
	height: 118px;
}

.price-filter-label {
	width: 121px;
	background-color: #555151;
	float: left;
	text-align: center;
	padding: 31px 21px;
	height: 118px;
}

.price-filter-label h3 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 0; 
}

.price-filter-range {
	float: left;
	padding: 10px 12px;
	width: 427px;
}

.price-filter-range input {
	height: 1rem;
	margin: 0;
}

.price-filter p, .price-filter label {
	margin: 0;
	color: #fff;
	font-size: 12px;
}

.filter h5, .label-legend p {
	margin-bottom: 0;
}

.title {
	text-align: center;	
	margin-bottom: 0px;
	color: #ff9900;
}

.map-title {
	text-align: center;	
	margin-bottom: 0px;
	color: white;
	font-size: 28px;
}

.map-title-about {
	font-size: 18px;
}

.title-map-page {
	background-color: #494646;
	padding: 16px 0 18px 0;
}

.filter-title {
	background-color: #494646;
	color: white;
	padding: 10px 0;
	text-align: center;
	font-size: 20px;
}

.filter h6, .filter p {
	margin-bottom: 1rem;
}

.cuisine, .location, .rating, .number-versus, .summary {
	background-color: #393636;
}

.filter .filter-type-title {
	text-align: center;
	background-color: #555151;
	font-size: 18px;
	padding: 0px 0;
	margin: 0;
	color: #fff;
}

.cuisine-half, .location-form, .summary {
	padding: 10px 12px;
	margin: 0;
}

.rating-form, .number-versus-content {
	padding: 18px 8px 11.3px 8px;
	margin: 0;
}

.cuisine h6 {
	text-align: center;
	color: #fff;
	font-family: AvenirRegular;
	text-transform: capitalize;
	margin: 0;
}

.input-custom {
	margin-bottom: 0;
	text-align: center;
}

.cuisine-form {
	position: inherit;
	margin: 0;
}

.location-form label, .rating-form label, .cuisine-form label, .price-filter-range label {
	display: inline-block;
	font-size: 11px;
	color: #fff;
	margin-right: 10px;
	margin-bottom: 0;
	position: relative;
	bottom: 0px;
	left: 4px;
}

.rating-form {
	text-align: center;
}

.rating-form > input {
	display: none;
}

.rating-form > label:after {
	font-size: 20px;
	display: inline-block;
	content: "\2605";
}
 
.rating-form > input:checked ~ label, .rating-form:not(:checked) > label:hover, .rating-form:not(:checked) > label:hover ~ label {
	color: #ffd700;
}

.rating-form > input:checked + label:hover, /* hover current star when changing rating */
.rating-form > input:checked ~ label:hover,
.rating-form > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-form > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.search-filter, .summary, .number-versus, .btn-filter {
	margin-top: 20px;
}

.search-filter {
	height: 50px;
}

.search-filter input[type="text"] {
	display: inline;
	height: 50px;
	width: 276.85px;
	background-color: #494646;
	padding: 0;
	margin: 0;
	font-family: AvenirRegular;
}

.search-filter input[type="submit"] {
	display: inline;
	position: relative;
	background: url(../images/search.png) no-repeat;
	background-position: center;
	background-color: #555151;
	padding: 25px 2rem 24.4px 2rem;
	height: 42px;
	margin: 0;
	left: -3px;
	bottom: 3px;
}

.clearfix:after {
	clear: both;
}

.number-versus-content {
	text-align: center;
}

#western-number {
	color: #85bf25;
	font-size: 24px;
}

#vs {
	color: #fff;
	font-size: 20px;
}

#asian-number {
	color: #ff332a;
	font-size: 24px;
}

.summary p {
	color: #fff;
	font-size: 10px;
}

.btn-filter input[type="button"] {
	height: 44px;
	width: inherit;
	font-size: inherit;
	padding: 0;
	line-height: 0;
}

#apply-filter {
	background-color: #ff9900;
	color: #fff;
}

.col-twelve h5 {
	font-family: FuturaCondensed;
}

.col-twelve h1 {
	font-family: FuturaCondensed;
}

.col-six p .intro-position .label-number {
	font-family: AvenirRegular;
	margin-bottom: 10px;
}

.button .stroke .no-stroke .smoothscroll {
	margin-top: 20px;
}

.img-about {
	margin-top: 50px;
}

.home-content {
	margin-top: 275px;
}